.skills-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skill-quote {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bolder;
}

.skill-quote::before {
  content: open-quote;
}

.skill-quote::after {
  content: close-quote;
}

.skill {
  width: 700px;
  background: ghostwhite;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 10px grey;
  border-radius: 10px;
}

.skill-right {
  width: 200px;
  height: 200px;
}

.skill-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem;
  color: ghostwhite;
}

.skill-list {
  width: 100%;
  color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

img {
  width: 70px;
  height: 70px;
}

.skill-item > span {
  font-size: 2.5rem;
  font-weight: bolder;
}
@media screen and (max-width: 750px) {
  .skill {
    width: 80%;
  }
}
